.box2 {
    width: 600px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 100px 12px;
    background: #FFF;
    box-shadow: 0px 4px 237px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    
}

.quit-btn2 {
    flex: 1;
    flex-shrink: 0;
    fill: #000;
    text-align: end;
    margin-right: 25px;
    margin-top: 25px;
}

.title2 {
    flex: 1;
    flex-shrink: 0;
    color: var(--2866-df, #2866DF);
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: center;
}

.input2 {
    flex: 3;
    flex-shrink: 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#group-name,
#group-description,
#group-ID {
    height: 40px;
    width: 250px;
    border-radius: 16px;
    border: 1px solid #000;
    background: #FFF;
    padding-left: 45px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-button2 {
    flex:5;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.search-button2 button {
    width: 300px;
    height: 48px;
    background: #2866DF;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    margin-top: 15px;
    color: rgb(233, 240, 246);
}

.search-button2 button:active {
    background: #5682bf;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}