body {
  margin: 0;
  line-height: normal;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

:root {
  /* fonts */
  --text: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --text-size: 15px;

  /* Colors */
  --color-white: #fff;
  --df: #2866df;
  --color1: #eee;
  --color2: #d9d9d9;
  --color-gainsboro-100: rgba(227, 227, 227, 0);
  --color-gainsboro-200: rgba(217, 217, 217, 0);
  --color-gray: rgba(255, 255, 255, 0);
  --color: #003381;
  --color-black: #000;
  --rectangle: #4d4d4d;
  --color-lightslategray: #8d929a;
  --color-lightgray: rgba(195, 203, 216, 0.42);
  --color-darkgray: #9b9fac;
  --color-silver: #bdcbd5;

  /* border radiuses */
  --br-33xl: 52px;
}
