.personal-box {
    background: #003381;
    display: flex;
    flex-direction: column;
    width: 285px;
    height: 400px;
}

.information {
    flex: 3;
    display: flex;
    flex-direction: row;
}
.information .photo {
    flex: 1;
    padding-left: 36px;
    padding-top: 48px;
}

.information .infor {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}
.information .infor .name {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
        padding-bottom: 22px;

}
.information .infor .email {
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
}


.buttons-box { 
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.buttons-box .btns button {
        background: #003381;
        color: #FFF;
        border: none;
        text-align: center;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 100;
        line-height: normal;
}

