@keyframes shadow-drop-bottom {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    to {
      box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
    }
  }
  @keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  .div1 {
    position: absolute;
    top: 25px;
    left: 18px;
    display: inline-block;
    width: 100px;
    height: 30px;
  }

  /*user-avatar */
.user-avatar {
  position: absolute;
  top: 0;
  }
  .frame-item {
    position: absolute;
    top: 0;
  }

  .user-avatar {
    height: 100%;
    width: 21.59%;
    right: 78.41%;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--color-silver);
  }
  .wrapper {
    position: relative; 
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro-200);
    width: 279px;
    height: 76px;
    font-size: 24px;
  }
  .frame-item {
    position: absolute;
width: 49px;
height: 49px;
left: 0%;
right: 78.41%;
top: 0%;
bottom: 0%;

background: rgb(189, 203, 213);
border-radius: 50%;
  }

  .user-name, 
  .current-user {
    position: absolute;
    font-weight: 100;
  }                                                                                                                                                      
  
  .current-user {
    top: 26.53%;
    left: 91.19%;
    color: var(--color-darkgray);
  }
  .user-name {
    height: 53.33%;
    width: 45%;
    top: 28.57%;
    left: 35%;
    display: inline-block;
  }

  .div2 {
position: absolute;
width: 80px;
height: 26.13px;
left: 28%;
top: 28.57%;
bottom: 18.1%;
color: rgb(77, 77, 77);
font-family: Inter;
font-size: 19px;
letter-spacing: 0%;
text-align: left;
  }

  .user-instance {
    position: relative;
    margin: 0;
    width: 279px;
    height: 99px;
  }
  .user-info {
    position: absolute;
    width: 227px;
    height: 49px;
    left: 18px;
    right: 34px;
    top: 23px;
    bottom: 27px;
    
  }

  .frame-parent {
    position: relative;
    height: 99px;
    width: 279px;
    margin: auto;
    background-color: var(--color-gainsboro-200);  
  }
  
  .frame-group {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-lightgray);
  }

  .delete-user {
    position: absolute;
    height: 6px;
    width: 21px;
    top: 47.47%;
    right: 0;
    bottom: 46.46%;
    border-radius: var(--br-33xl);
    background-color: var(--color-lightslategray);
  }

  .instance-parent {
    position: relative;
    width: 279px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .group-div {
    position: relative;
    width: 279px;
    height: 99px;
    left: 0;
    margin: 0;
    padding: 0;
  }

  .ellipse-parent {
    position: absolute;
    width: 227px;
    height: 49px;
    left: 18px;
    right: 35px;
    top: 23px;
    bottom: 27px;
  }

  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 83px;
    width: 281px;
    height: 100%;
    border: 2px solid #C1BCBC;
  }

  .vector-1 {
    position: absolute;
    width: 25px;
    height: 0px;
    left: 22%;
    top: 45%;
    border: 2px solid white;
    transform: rotate(90.00deg);
  }
  .vector-2 {
    position: absolute;
    width: 25px;
    height: 0px;
    left: 22%;
    top: 45%;
    border: 2px solid white;
  }

  .username-header {
    position: absolute;
    margin: 0%;
    display: inline-block;
    width: 184.83px;
height: 40px;
left: 6%;
right: 79.67%;
top: 32px;
bottom: 33px;
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 32px;
font-weight: 100;
letter-spacing: 0%;
text-align: left;
  }

  .task-header {
    position: absolute;
    top: 0;
    left: 366px;
    background-color: var(--color-gainsboro-200);
    width: 100%;
    height: 96px;
    font-size: 32px;
    border-bottom: 2px solid #C1BCBC;
  }

  .task-details {
    position: inherit;
    left: 366px;
    width: calc(100% - 366px);
    height: 60px;
    top: 7.5%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 40px;
  }
 
  .task-list {
    position: inherit;
    left: 366px;
    margin: 0;
    padding: 15px;
    top: 5%;
    width: calc(100% - 366px);
    list-style: none;
    box-sizing: border-box;
  }

  .task-list > *:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
  }

  .task {
    position: relative;
    display: flex;
    max-width: 100%; 
    color: rgb(0, 0, 0);
font-family: Inter;
font-size: 19px;
font-weight: 150;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
   height: 60px;
   margin: 0;
    position: relative;
  }

  .task-details, .task {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    text-align: center;
  }
  .catalog:nth-of-type(1), .item1 {
    grid-column: 1;
  }
  
  .catalog:nth-of-type(2), .item2 {
    grid-column: 2;
  }
  
  .catalog:nth-of-type(3), .item3 {
    grid-column: 3;
  }
  
  .catalog:nth-of-type(4), .item4 {
    grid-column: 4;
  }

  .frame-child3,
  .rectangle-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-gainsboro-100);
    width: 1076px;
    height: 76px;
  }
  .rectangle-wrapper {
    background-color: var(--color-gainsboro-200);
    height: 96px;
  }
  .div11,
  .div12,
  .div13 {
    font-weight: 100;
    display: inline-block;
    width: 86.74px;
  }
  .div11 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .div12,
  .div13 {
    top: 1px;
  }
  .div12 {
    position: absolute;
    left: 657.21px;
  }
  .div13 {
    left: 912px;
  }
  .div13,
  .div14,
  .parent {
    position: absolute;
  }
  .div14 {
    top: 1px;
    left: 798.26px;
    font-weight: 100;
    display: inline-block;
    width: 86.74px;
  }
  .parent {
    top: 36px;
    left: 33px;
    width: 998.74px;
    height: 19px;
  }
  .frame-parent2,
  .rectangle-container {
    position: absolute;
    top: 0;
    left: 1px;
    width: 1076px;
    height: 96px;
  }
  .rectangle-container {
    top: 54px;
    left: 0;
    background-color: var(--color-gainsboro-200);
  }
  .frame-parent1 {
    position: absolute;
    top: 75px;
    left: 364px;
    width: 1077px;
    height: 150px;
    font-size: var(--text-size);
    color: var(--rectangle);
  }
  .div15,
  .div16,
  .div17 {
    width: 9.81%;
    font-weight: 100;
    display: inline-block;
  }
  .div15 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .div16,
  .div17 {
    top: 4%;
  }
  .div16 {
    position: absolute;
    left: 74.34%;
  }
  .div17 {
    left: 90.19%;
  }
  .div17,
  .div18,
  .group {
    position: absolute;
  }
  .group {
    height: 100%;
    width: 88.6%;
    top: 0;
    right: 11.4%;
    bottom: 0;
    left: 0;
  }
  .div18 {
    width: 8.69%;
    top: 4%;
    left: 91.31%;
    font-weight: 100;
    display: inline-block;
  }


  .div27 {
    position: absolute;
    top: calc(50% - 13.5px);
    left: calc(50% - 22px);
    font-size: 22px;
    font-weight: 100;
    font-family: var(--text);
    color: var(--color-white);
    text-align: left;
  }
  .frame,
  .frame-child5,
  .frame-child6 {
    position: absolute;
    background-color: var(--df);
  }
  .frame {
    cursor: pointer;
    border: 0;
    padding: 0;
    top: 32px;
  right: 7%;
    border-radius: 65px;
    width: 140px;
    height: 45px;
  }
  .frame:hover {
    animation: 2s ease 0s infinite normal none pulsate;
    opacity: 1;
  }
  .frame:active {
    background-color: #082fb1;
  }
  .frame-child5,
  .frame-child6 {
    top: 0;
    left: 7px;
    width: 84px;
    height: 1024px;
  }
  .frame-child6 {
    top: 21px;
    left: 6px;
    background-color: var(--color);
    width: 85px;
    height: 84px;
  }
  .div28 {
    position: absolute;
    top: calc(50% - 39.5px);
    left: calc(50% - 20px);
    border-radius: 50%;
    background-color: var(--color-gray);
    border: 4px solid var(--color-white);
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    display: none;
  }
  .component-1,
  .div29 {
    position: absolute;
    top: 59.49%;
    left: calc(50% - 16px);
  }
  .component-1 {
    text-decoration: none;
    top: 231px;
    left: calc(50% - 23.5px);
    width: 50px;
    height: 79px;
    color: inherit;
  }
  .div30 {
    position: absolute;
    top: calc(50% - 39.5px);
    left: calc(50% - 20px);
    border-radius: 50%;
    background-color: var(--color2);
    width: 40px;
    height: 40px;
    display: none;
  }
  .component-3,
  .component-4 {
    text-decoration: none;
    position: absolute;
    top: 33px;
    left: calc(50% - 22.5px);
    width: 50px;
    height: 79px;
    color: inherit;
  }
  .component-3 {
    top: 132px;
    left: calc(50% - 24.5px);
    text-align: center;
  }
  .frame-child7 {
    position: absolute;
    top: 120px;
    left: 6px;
    background-color: var(--color);
    width: 85px;
    height: 84px;
  }
  .component-11,
  .component-31,
  .component-41 {
    position: absolute;
    top: 231px;
    left: calc(50% - 24.5px);
    width: 50px;
    height: 79px;
  }
  .component-31,
  .component-41 {
    top: 33px;
    left: calc(50% - 23.5px);
  }
  .component-31 {
    top: 132px;
    left: calc(50% - 25.5px);
    text-align: center;
  }
  .rectangle-parent2 {
    background-color: var(--df);
  }
  .rectangle-parent1,
  .rectangle-parent2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 91px;
    height: 100%;
  }
  .group-icon {
    position: absolute;
    top: 33px;
    left: calc(50% - 15.64px);
    width: 37.14px;
    height: 43px;
  }
  .union-icon1 {
    position: absolute;
    top: 22%;  /* Adjust this value as needed */
    left: calc(45% - 16px);
    width: 41.85px;
    height: 41.85px;
  }
  .frame-child8,
  .frame-parent3 {
    position: absolute;
    top: 130px;
    left: 28px;
    width: 35px;
    height: 40px;
  }
  .frame-parent3 {
    top: 0;
    left: -6px;
    width: 91px;
    height: 1024px;
    font-size: var(--font-size-base);
    color: var(--color1);
  }
  .div {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--text);
    height: 100vh;
  width: 100vw;
  }

  .task-info-modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 33%; 
    height: 100%;
    overflow: auto;
    background: #FFF;
box-shadow: 1px 4px 52px -6px rgba(131, 127, 127, 0.25);
padding: 11px 22px 10px 22px;
/* Text */
color: #101F37;
font-family: Inter;
font-size: 22px;
font-style: normal;
font-weight: 100;
line-height: normal;
  }
  
  #task-description {
    max-height: 500px;
    overflow-y: auto;
    min-height: 100px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-size: 18px;
    line-height: 1.5;
    resize: vertical;
  }
  
  .save-task {
    border-radius: 37px;
background: #2866DF;
width: 110px;
height: 45px;
border: none;
margin-bottom: 40px;

color: #FFF;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 100;
line-height: normal;
flex-shrink: 0;
  }

  .task-complete {
    width: 141px;
    height: 45px;
justify-content: center;
align-items: center;
flex-shrink: 0;

border-radius: 12px;
border: 1px solid #5367B6;
background: #FFF;
margin-right: 50%;
margin-bottom: 40px;


font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: normal;
  }

  .task-info-create {
    padding: 11px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
  }
  .task-info-create label,
.task-info-create input {
    display: block;
}

.task-info-create input {
  border-radius: 5px;
  border: 1px solid #5367B6;
}


.task-info-create div {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px; /* 控制 label 和 input 之间的间距 */
  margin: 10px 0;
}

.text-area {
  display: flex;
  padding: 0 50px 0 50px;
}

.text-area label {
  width: 30%;
}

.delete-task {
  position: absolute;
  top: 18%;
  right: 0;
  height: 6px;
  width: 21px;
  border-radius: var(--br-33xl);
  background-color: var(--color-lightslategray);
}

.task-info-modal a {
  display: none;
}

.select-team label {
  margin: 0 auto;
}

.select-team select {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: cursive, sans-serif;
  outline: 0;
  border: 1px solid crimson;
  padding: 4px;
  border-radius: 9px;
}

.select-team input {
  margin: 0 auto;
  background-color: var(--df);
  color: white;
  border: none;
  border-radius: 10%;
  width: 50px;  
  height: 30px;
}

.select-team {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 50px 10px;
}

.quit-team {
  position: absolute;
  bottom: 25px;
  right: 15px;

  background-color: #DC143C;
  color: white;
    border: none;
    border-radius: 5%;
    width: auto;
    height: 30px;

}
.create-code-btn {
  position: absolute;
  bottom: 25px;
  left: 15px;

  background-color: #DC143C;
  color: white;
  border: none;
  border-radius: 5%;
  width: auto;
  height: 30px;

}
#selected {
  background-color: rgba(195, 203, 216, 0.42);
}


button[data-state="0"] {
  color: #7187DC;
}

button[data-state="1"] {
  color: #f2f2f2;
  background-color: aquamarine;

  
}/* 模态窗口样式 */
.generate-code-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }


  /* 个人信息窗口样式 */
  .personal-box {
    display: none;
    position: fixed;
    top: 0;
    left: 84px;
  }